body {
	font-family: Calibri;
	color: darkslategrey;
}

.main {
	font-size: 18px;
	margin: 10%;
}

a {
	color: #2499db;
}

table {
	border: 1px solid lightgray;
	border-collapse: collapse;
	width: 100%;
	font-size: 16px;
	text-align: center;
}

td {
	border: 1px solid lightgray;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

th {
	background: lightgray;
	border: 1px solid lightgray;
	padding-left: 10px;
	padding-right: 10px;
}

.dinner {
	color: #2499db;
}

img {
	width: 70px;
}

.iith {
	width: 90px;
}